:root {
    --theme-color: #285685;
    --font-color: silver;
    --shade1: rgba(245, 38, 19, 0.5);
    --shade2: rgba(0, 255, 255, 0.5);
}

body {
    background-color: black;
    font-family: Arial;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura da tela completa */
    margin: 0; /* Remove margem padrão do body */
    position: relative; /* Para que elementos filhos possam usar 'absolute' */
}

.title {
    font-size: 80%;
}

.textCont {
    font-size: 125%;
    width: 60%;
    height: auto; /* Remover altura fixa para que o conteúdo cresça conforme o texto */
    text-align: justify;
    overflow-wrap: break-word; /* Quebra de palavras longas */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.red-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none; /* Esconde o botão por padrão */
    margin-top: 100px;
    text-decoration: none; /* Remove o sublinhado */

}

.red-button:hover {
    background-color: #cc0000; /* Cor mais escura ao passar o mouse */
}

.song {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    position: absolute; /* Mantenha o posicionamento absoluto */
    top: 20px; /* Ajuste a distância do topo conforme necessário */
    right: 20px; /* Ajuste a distância da direita conforme necessário */
}

.pause {
    cursor: pointer;
}
