body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #b784b7;
    overflow: hidden;
    background-image: url("/clarinha/imgs/snoopy2.png"); /* Corrigido para usar 'url()' */
    background-size: cover; /* Para cobrir todo o fundo */
    background-position: center; /* Para centralizar a imagem */
}


.envelope {
    position: relative;
}

.back {
    position: relative;
    width: 250px;
    height: 200px;
    background: #6247aa;
}

.front {
    position: absolute;
    border-right: 130px solid #815ac0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    left: 120px;
    pointer-events: none;
    z-index: 3;
}

.front::before {
    content: "";
    position: absolute; 
    border-left: 130px solid #7251b5;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: -100px;
    left: -120px;
}

.front::after {
    content: "";
    position: absolute;
    border-bottom: 105px solid #7251b5;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
    top: -5px;
    left: -120px;
}

.top {
    position: absolute;
    border-top: 105px solid #9163cb;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    transform-origin: top;
    transition: 0.4s;
}

.envelope:hover .top {
    transform: rotateX(160deg);
    transition-delay: .3s;
    z-index: 0;
}

.envelope:not(:hover) .top {
    transition-delay: 0.8s;
    z-index: 1;
}

.letter {
    position: absolute;
    background:  white;
    width: 230px;
    height: 180px;
    top: 10px;
    left: 10px;
    transition: 0.8s;
}

.envelope:hover .letter {
    transform: translateY(-100px);
    transition-delay: 0.8s;
    z-index: 2;
}

.envelope:not(:hover) .letter {
    z-index: 1;
}

.text1 {
    text-align: center;
}

.text1 h2 {
    position: absolute;
    color: #EA3338;
    font-family: sans-serif;
    top: -110px;
    z-index: -1;
}

.text1 h3 {
    color: #EA3338;
    font-family: sans-serif;
    z-index: -1;
    font-size: medium;
    margin-top: 30px;
}

.text1 span {
    font-size: large;
}

.text {
    text-align: center;
    font-size: 11px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 72px;
    margin-right: 30px;
    font-weight: bold;
    color: black;
    position: relative;
    top: -12px;
    left: 17px;
}

.link {
    text-align: center;
    font-size: 11px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 105px;    
    font-weight: bold;
    position: relative;
    top: -12px;
    left: 20px;
}

/* coração */

.heart {
    background-color: red;
    position: relative;
    height: 55px;
    width: 55px;
    top: 20px;
    left: 20px;
    transform: rotate(-45deg);
    box-shadow: -5px 10px 90px red;
    animation: batimento 0.6s linear infinite;
}

@keyframes batimento {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    70% {
        transform: rotate(-45deg) scale(1.0);
    }
    190% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart::before {
    content: '';
    position: absolute;
    height: 55px;
    width: 55px;
    background-color: red;
    top: -30px;
    border-radius: 50px;
}

.heart::after {
    content: '';
    position: absolute;
    height: 55px;
    width: 55px;
    background-color: red;
    right: -30px;
    border-radius: 50px;
}

/* snoopy */
.snoopy {
    position: absolute;
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}

.snoopy-top-left {
    top: 10px;
    left: 10px;
}

.snoopy-top-right {
    top: 10px;
    right: 10px;
}

.snoopy-bottom-left {
    bottom: 10px;
    left: 10px;
}

.snoopy-bottom-right {
    bottom: 10px;
    right: 10px;
}